.adoption-main-title {
    text-align: center;
    margin: 1.5rem 0;
}

.folder-button{
    background-color: #F6F6F6;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
    font-family: Montserrat, sans-serif;
    margin: 0;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

.folder-names{
    background-color: #F6F6F6;
    margin: 5px;
    padding: 5px 0 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.folder-button-active{
    background-color: #13e2ba !important;
    color: white;
    border-radius: 10px 10px 0 0;
}

.folder-comment-container{
    background-color: #F6F6F6;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
    padding: 10px;
    border-radius: 10px;
    font-family: Montserrat, sans-serif;
}

.folder-comment-input{
    margin-top: 10px;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
    border: none;
    font-family: Montserrat, sans-serif;
    width: 100%;
}

.folder-comment-input:focus{
    outline: none;
}

.folder-status-content{
    background-color: #FFFFFF;
    padding: 10px;
    font-family: Montserrat, sans-serif;
    font-size: 0.8rem;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
}

.adoption-container {
    padding: 0 5%;
}

.adoption-navigation {
    width: 100%;
    display: flex;
    margin-bottom: 1.5rem;
}

.adoption-nav-left {
    width: 50%;
    display: flex;
}

.adoption-nav-item {
    text-align: center;
    line-height: 2rem;
    flex: 1;
    font-family: Montserrat, sans-serif;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
    background: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 0.5rem;
}

.adoption-nav-item-active {
    background: #13e2C1;
    color: #FFFFFF;
}

.adoption-searchbar {
    width: 50%;
    display: flex;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    background: -webkit-linear-gradient(45deg, #13E2BA 50%, #13E2E2);
}

.adoption-search-input {
    background: #FFFFFF;
    border-radius: 10px 0 0 10px;
    display: flex;
    align-items: center;
}

.adoption-search-input i {
    margin-left: 10px;
}

.adoption-search-input input {
    background: transparent;
    border: none;
    margin-left: .5rem;
    font-family: Montserrat, sans-serif;
}

.adoption-pet-list {
    background: #FFFFFF;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    height: 65vh;
    overflow-y: auto;
    margin-bottom: 15px;
}

#adoption-search-input::placeholder{
    color:  #13e2C1;
    font-family: Montserrat, sans-serif;
}

#adoption-search-input:focus{
    outline: none;
}

.adoption-pet-card {
    background: #FFFFFF;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    height: 65vh;
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 15px;
}

.folder-card {
    background: transparent;
    height: 65vh;
    padding: 2px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 15px;
}

.adoption-selector-active{
    background-color: #13e2ba !important;
}

.adoption-right-selector{
    background-color: #F6F6F6;
    width: 50%;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
}

.adoption-selector-text{
    width: fit-content;
    margin: auto;
}

.adoption-left-selector{
    width: 50%;
    background-color: #F6F6F6;
    border-radius: 0 5px 5px 0;
    display: flex;
    align-items: center;
}

.popup-edit-personnal-section {
    width: 100%;
    height: 100%;
    padding: 1rem 1rem;
    align-items: center;
}

.popup-edit-personnal-section-header {
    text-align: center;
    color: #13e2ba;
}

.popup-edit-personnal-section-body hr {
    width: 90%;
}

.popup-edit-personnal-section-body .section-title {
    color: #ED1944;
    font-family: Montserrat, sans-serif;
}

.popup-edit-personnal-section-body .section-breakline {
    border-bottom: 1px solid #ED1944;
    margin-bottom: 1.5rem;
    width: 200px;
}

.popup-edit-personnal-section-body .DayPickerInput {
    width: 100%;
}

.popup-edit-personnal-section-body .DayPickerInput input {
    border: none;
    width: 100%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
    margin-bottom: 0.5rem;
    color: #999999;
    line-height: 2rem;
    padding-left: 2.5rem;
    border-radius: 5px;
    font-family: Montserrat, sans-serif;
    background-color: #fff;
}

.popup-edit-personnal-section-body .DayPickerInput input:focus {
    color: #333333;
    outline: none;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.16);
}

.pac-container {
    z-index: 1035;
}

@media (max-width: 425px) {
    .popup-edit-personnal-section {
        padding: 1rem 0;
    }

    .popup-edit-personnal-section-body{
        overflow-y: scroll;
        padding: 0 1rem;
        height: 80vh;
    }
}

@media screen and (max-width:900px){
    .adoption-big-button{
        height: fit-content;
    }

    .folders-users-container {
        height: 200px !important;
    }
}
