.boolean-choice {
    color: #333333;
    font-family: Montserrat, sans-serif;
    margin-bottom: .5rem;
}

.boolean-choice-body {
    display: flex;
}

.boolean-choice-item {
    width: 180px;
    background-color: #F2F2F2;
    padding: .5rem 1.5rem .5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin: 0.5rem 1rem;
}

.boolean-choice-item-active {
    background-color: #fff;
    outline: auto 1px #13e2ba;
}

@media (max-width: 500px) {
    .boolean-choice-body {
        display: block;
    }

    .boolean-choice-item {
        margin-left: 0;
        width: 280px;
    }
}
