<table class="container" border="0" cellpadding="0" cellspacing="0" width="100%" align="center">
    <tr>
        <td align="center">
            <table class="container" border="0" cellpadding="0" cellspacing="0" width="620" align="center" style="border-top: 1px solid #eeeeee; width: 620px;">
                <tr>
                    <td align="middle" style="text-align: center; padding: 16px">
                        <img width="20%" src="https://mypetslife.co/img/logo.png">
                        <p style="">
                            Conçu avec <span style="color: #EEBBEC">♥</span>
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table class="container" border="0" cellpadding="0" cellspacing="0" width="100%" align="center">
    <tr>
        <td align="center">
            <table class="container" border="0" cellpadding="0" cellspacing="0" width="620" align="center" style="border-top: 1px solid #eeeeee; width: 100%; background-color: #13E2BA;">
                <tr>
                    <td align="center" style="padding: 30px 0 30px 0;">
                        <a href="https://www.facebook.com/My-Pets-Life-105549364547425">
                            <img width="20%" src="http://mypetslife.co/img/icon-facebook.png">
                        </a>
                    </td>

                    <td align="center" style="padding: 30px 0 30px 0;">
                        <a href="https://www.instagram.com/mypetslife.co">
                            <img width="20%" src="http://mypetslife.co/img/icon-instagram.png">
                        </a>
                    </td>

                    <td align="center" style="padding: 30px 0 30px 0;">
                        <a href="https://twitter.com/MyPetsLife_">
                            <img width="20%" src="http://mypetslife.co/img/icon-twitter.png">
                        </a>
                    </td>
                    <td align="center" style="padding: 30px 0 30px 0;">
                        <a href="https://www.linkedin.com/company/my-pets-life">
                            <img width="20%" sizes="50%" src="http://mypetslife.co/img/icon-linkedin.png">
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
