<%- include('emailStylesheet')%>

<body style="padding: 0; margin: 0;" bgcolor="#eeeeee">

<table class="full-width-container" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" bgcolor="#eeeeee" style="width: 100%; height: 100%; padding: 30px 0 30px 0;">
    <tr>
        <td align="center" valign="top">
            <table class="container" border="0" cellpadding="0" cellspacing="0" width="700" bgcolor="#ffffff" style="width: 700px;">
                <tr>
                    <td align="center" valign="top">
                        <%- include('emailHeader')%>
                        <table class="container hero-subheader" border="0" cellpadding="0" cellspacing="0" width="620" style="width: 620px;">
                            <tr>
                                <td class="hero-subheader__title" width="100%" style="font-size: 32px; font-weight: bold; padding: 15px 0; font-family: 'Comfortaa'" align="left">
                                    <% if (tr === "en") { %>
                                        Reset password
                                    <% } else if (tr === "de"){ %>
                                            Passwort zurücksetzen
                                    <% } else if (tr === "it"){ %>
                                            Resetta la password
                                    <% } else if (tr === "es"){ %>
                                            Restablecer la contraseña
                                    <% } else if (tr === "pt"){ %>
                                            Redefina a senha
                                    <% } else{ %>
                                        Réinitialisation du mot de passe
                                    <% } %>
                                    </td>
                            </tr>
                            <tr>
                                <td class="hero-subheader__content" style="font-size: 16px; line-height: 27px; color: #8F8F8F; padding-bottom: 16px; font-family: 'Comfortaa', sans-serif" align="left">
                                <% if (tr === "en") { %>
                                        Hello !
                                        <br/>
                                        <br/>
                                        Your password has just been changed.
                                        <br/>
                                        You can now take advantage of all the features offered by
                                        MyPetsLife by logging in via the button below with you new
                                        identifiers.
                                <% } else if (tr === "de"){ %>
                                        Hallo !
                                        <br/>
                                        <br/>
                                        Ihr Passwort wurde gerade geändert.
                                        <br/>
                                        Sie können jetzt alle Funktionen von nutzen
                                        MyPetsLife durch Anmelden über die Schaltfläche unten mit Ihnen neu
                                        Bezeichner.
                                <% } else if (tr === "it"){ %>
                                        Buongiorno !
                                        <br/>
                                        <br/>
                                        La tua password è stata appena cambiata.
                                        <br/>
                                        Ora puoi sfruttare tutte le funzionalità offerte da
                                        MyPetsLife accedendo tramite il pulsante qui sotto con te nuovo
                                        identificatori.
                                <% } else if (tr === "es"){ %>
                                        Buenos dias !
                                        <br/>
                                        <br/>
                                        Su contraseña acaba de ser cambiada.
                                        <br/>
                                        Ahora puede aprovechar todas las funciones que ofrece
                                        MyPetsLife iniciando sesión a través del botón de abajo con su nuevo
                                        identificadores.
                                    <% } else if (tr === "pt"){ %>
                                        Olá !
                                        <br/>
                                        <br/>
                                        Sua senha acaba de ser alterada.
                                        <br/>
                                        Agora você pode aproveitar todos os recursos oferecidos por
                                        MyPetsLife fazendo login através do botão abaixo com você
                                        identificadores.
                                    <% } else{ %>
                                        Bonjour !
                                        <br/>
                                        <br/>
                                        Votre mot de passe vient d'être modifié.
                                        <br/>
                                        Vous pouvez désormais profitez de toutes les fonctionnalités proposées par
                                        MyPetsLife en vous connectant via le bouton ci-dessous avec vous nouveaux
                                        identifiants.
                                    <% } %>
                                </td>
                            </tr>
                        </table>
                        <table class="container paragraph-block" border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td align="center" valign="top">
                                    <table class="container" border="0" cellpadding="0" cellspacing="0" width="620" style="width: 620px;">
                                        <td class="cta-block__button" width="230" align="center" style="width: 200px;">
                                            <a href="https://mypetslife.co/login" style="border: 2px solid #13E2BA; color: #13E2BA; text-decoration: none; padding: 15px; text-transform: uppercase; display: block; text-align: center; font-size: 16px; font-weight: bold;border-radius: 5px">
                                                <% if (tr === "en") { %>
                                                        Log in
                                                <% } else if (tr === "de"){ %>
                                                        Anmeldung
                                                <% } else if (tr === "it"){ %>
                                                        Accesso
                                                <% } else if (tr === "es"){ %>
                                                        Iniciar sesión
                                                <% } else if (tr === "pt"){ %>
                                                        Conecte-se
                                                <% } else{ %>
                                                        Connectez-vous
                                                <% } %>
                                            </a>
                                        </td>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <table class="container" border="0" cellpadding="0" cellspacing="0" width="100%" style="padding-top: 25px;" align="center">
                            <tr>
                                <td align="center">
                                    <table class="container" border="0" cellpadding="0" cellspacing="0" width="620" align="center" style="border-bottom: solid 1px #eeeeee; width: 620px;">
                                        <tr>
                                            <td align="center">&nbsp;</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <%- include('emailFooter') %>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>

