.DayPickerInput{
    width: 70%;
}

.DayPickerInput-OverlayWrapper{
    transform: scale(0.7) translate(-20%);
    z-index: 1;
}

.DayPickerInput input:focus {
    outline-color: transparent;
}

@media (max-width: 426px) {

    .DayPickerInput {
        width: 100%;
    }

}
