.cookies-container{
    height: 100%;
    overflow-y: scroll;
    text-align: justify;
}

.cookies-container::-webkit-scrollbar {
    width: 10px;
}

.cookies-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.cookies-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #13e2ba;
}

@media (max-width: 425px) {
    h2{
        font-size: 1.5rem;
    }

    h5{
        font-size: 1.1rem;
    }
}


.font-title{
    font-size: 1.5rem;
}
